.gallery-container {
    padding: 20px;
    border-radius: 20px;
}

.gallery-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    height: 50px;
    margin-block-end: 30px;
}

.gallery-nav .txt-input {
    padding-inline-start: 10px;
    border-radius: 10px;
    margin-inline-start: 10px;
}

.gallery-nav ul {
    display: inline-flex;
    justify-self: center;
    gap: 5px;

    padding: 10px;
    border: solid 1px var(--base-clr);
    border-radius: 10px;

    list-style: none;
}

.gallery-nav > .btn {
    justify-self: center;

    margin-inline-end: 6px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery > img {
    height: 100%;
    padding: 10px;

    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
}