.gallery-container {
    padding: 20px;
    border-radius: 20px;
}

.gallery-nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    row-gap: 10px;

    align-items: center;

    margin-block-end: 10px;
}

.filter-container {
    grid-column: 1 / -1;
    width: content;
}

.gallery-nav .txt-input {
    padding-inline-start: 10px;
    border-radius: 10px;
}

.gallery-nav ul {
    display: inline-flex;
    justify-self: center;
    gap: 5px;

    padding: 10px;
    border: solid 1px var(--base-clr);
    border-radius: 10px;

    list-style: none;
}

.gallery-nav > .btn {
    justify-self: center;

    margin-inline-end: 6px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery img {
    height: 100%;
    padding: 10px;

    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
}

.delete-meme {
    position: absolute;

    height: 1.5rem;
    width: 1.5rem;

    padding: 5px;
    margin: 5px 0 0 5px;

    text-align: center;
    color: var(--primary-1);
    font-size: 1em;
    font-weight: 900;
    line-height: .75;

    opacity: 0;

    transition: 400ms;
}

.saved-meme-container:hover .delete-meme{
    opacity: .7;
}