.main-header {
    grid-column: 2;
    height: 80px;
    align-items: center;

    border-radius: 80px;
    margin-block: 10px;

    background: linear-gradient(100deg, #0F9BB3, #2CB77B 70.71%);
}

.main-header .logo {
    padding: 5px;
    margin-inline-start: 20px;
}

.main-header .main-nav {
    margin-inline-end: 30px;
}

.main-nav ul {
    gap: 15px;

    transition: .6s;
}

button.toggle-menu {
    display: none;

    height: 40px;
    width: 40px;
}