.main-header {
    height: 80px;
    align-items: center;

    border-radius: 80px;
    margin: 10px 8px;

    background-color: var(--primary-1);
}

.main-header .logo {
    padding: 5px;
    margin-inline-start: 20px;
}

.main-header .main-nav {
    margin-inline-end: 20px;
}