.meme-editor {
    background-color: var(--primary-2);
}

.meme-editor .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.meme-editor .canvas-container {
    justify-content: center;

    padding: 10px;
    border: solid 2px var(--base-clr);
    border-radius: 10px;
    margin: 10px;
}