.meme-editor {
    grid-column: 2;
    
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 80px minmax(500px, 1fr);

    background-color: var(--primary-2);
}

.meme-editor .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.meme-editor .canvas-container {
    justify-content: center;

    padding: 10px;
    border: solid 2px var(--base-clr);
    border-radius: 10px;
    margin: 10px;
}