@media (max-width: 640px) {
    .body {
        grid-template-columns: minmax(5px, 1fr) minmax(auto, 560px) minmax(5px, 1fr);
    }

    .logo:not(.small-screen) {
        display: none;
    }

    .btn.toggle-menu {
        display: block;
    }

    .main-nav ul {
        flex-direction: column;

        position: fixed;
        top: 0;
        right: -10px;

        flex-direction: column;
        height: 100vh;

        transform: translateX(100%);
        background-color: #292929;
    }

    body.menu-open .main-nav ul {
        transform: translateX(0);
        box-shadow: -9px 0px 20px rgb(0 0 0 / 25%);
    }

    body.menu-open .main-nav ul::before {
        content: '.M.';
        display: grid;
        place-items: center;
        height: 2em;
        width: 2em;

        border: solid 1px var(--base-clr);
        border-radius: 200px;
        margin-block: 15px;
        margin-inline: auto;

        font-family: slabo;
        font-size: 2.5em;
        font-weight: 700;
    }

    body.menu-open .main-nav ul li {
        position: relative;
        top: 120px;
    }

    body.menu-open .main-nav ul button {
        height: 60px;
        width: 120px;
        border: solid 1px var(--primary-1);
        border-radius: 0;

        color: var(--base-clr);
        background-color: var(--primary-2);
    }

    body.menu-open .main-screen {
        pointer-events: auto;

        background-color: #272b2683;
    }

    div.gallery {
        grid-template-columns: repeat(2, minmax(auto, 50%));
    }

    nav.gallery-nav ul {
        justify-self: self-start;
        margin-inline-end: 10px;
    }

    section.controls .btn {
        height: 30px;
        width: 30px;

        font-size: smaller;

    }
}


@media (min-width: 640px) {
    .body {
        grid-template-columns: minmax(10px, 1fr) minmax(auto, 600px) minmax(10px, 1fr);
    }

    .logo:first-child {
        display: none;
    }

    nav.gallery-nav {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        height: 50px;
        margin-block-end: 30px;
    }

    .gallery-nav input.txt-input {
        grid-column: 1;
    }
    div.meme-editor {
        justify-items: center;
    }
}

@media (min-width: 880px) {
    .body {
        grid-template-columns: minmax(10px, 1fr) minmax(auto, 800px) minmax(10px, 1fr);
    }

    div.gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    div.meme-editor {
        grid-template-columns: minmax(max-content, 1.5fr) 1fr;
    }

    div.canvas-container {
        margin-block-end: 0;
        margin-inline-end: 20px;
    }

    .meme-editor section.controls {
        grid-template-columns: 80%;
        grid-template-rows: unset;

        padding: 0;
    }

    .controls .txt-input {
        grid-column: unset;
    }
    section.font-btns {
        grid-area: unset;
    }
}

@media (min-width: 1100px) {
    .body {
        grid-template-columns: minmax(40px, 1fr) minmax(auto, 1000px) minmax(40px, 1fr);
    }

    div.gallery {
        grid-template-columns: repeat(5, 1fr);
    }

    div.meme-editor {
        grid-template-columns: minmax(max-content, 1.5fr) 1.5fr;
        justify-items: unset;
    }

    .gallery-nav > button.btn {
        justify-self: end;
    }

    section.font-btns {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    section.align-btns {
        grid-area: 1 / 2 / 2 / -1;
    }

    section.font-size-controls {
        grid-area: 1 / 1 / 3 / 2;
        flex-direction: column;
        justify-self: center;
        width: unset;
    }

    select.font-select {
        grid-area: 2 / 2 / 3 / -1;
    }

    div.color-picker {
        grid-area: 3 / 1 / 4 / -1;
    }

    section.align-btns > button.btn {
        height: 2.5em;
        width: 2.5em;
    }
}