@font-face {
	font-family: slabo;
	src: url(../../fonts/Slabo_13px/Slabo13px-Regular.ttf);
}

@font-face {
	font-family: workSans;
	src: url(../../fonts/Work_Sans/static/WorkSans-Light.ttf);
}

@font-face {
	font-family: fontAwesome;
	src: url(../../fonts/fa/fa-solid-900.ttf);
}

.fa::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  }

.fa::before {
	font-family: fontAwesome;
}

.fa.bars-menu::before {
	content: '\f0c9';
}

.fa.remove::before {
	content: '\f1f8';
}

.fa.add::before {
	content: '\2b';
}

.fa.next-line::before {
	content: '\f363';
}

/* .fa.increase::before {
	content: '\f031 \2b';
}
.fa.decrease::before {
	content: '\f031 \f068';
} */

.fa.plus-minus::before {
	content: '\e43c';
}

.fa.align-left::before {
	content: '\f036';
}

.fa.align-center::before {
	content: '\f037';
}

.fa.align-right::before {
	content: '\f038';
}

.fa.align-justify::before {
	content: '\f039';
}

.fa.bookmark::before {
	content: '\f02e';
}

.fa.share::before {
	content: '\f064';
}

.fa.download::before {
	content: '\f019';
}